body {
  background: url("https://github.com/lpham336/lpham336.github.io/blob/master/unit_3/images/moon-4045088_1920.jpg");
  background-size: cover;
  color: #ffffff;
  text-align: center;
  font-family: helvetica;
}